node-red/flows.json
[{"id":"2038370dab125816","type":"tab","label":"Studio switch","disabled":false,"info":"","env":[]},{"id":"e94d93f501239f1a","type":"tab","label":"Anakins switch","disabled":false,"info":"","env":[]},{"id":"06c4602c30655683","type":"tab","label":"Babykamer switch","disabled":false,"info":"","env":[]},{"id":"992b6644.4e50e8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"be4b8a8fd8d0ea3a","type":"server-state-changed","z":"2038370dab125816","name":"Office middle button","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.kantoor_schakelaar_middle","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":320,"wires":[["8d0f42683a7e3ba8"]]},{"id":"8d0f42683a7e3ba8","type":"switch","z":"2038370dab125816","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":320,"wires":[["ca491ac76e68f927"],["a200ef598cc22ec7"]]},{"id":"ca491ac76e68f927","type":"api-call-service","z":"2038370dab125816","name":"Turn on spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.kantoor_sfeerspots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":280,"wires":[[]]},{"id":"a200ef598cc22ec7","type":"api-call-service","z":"2038370dab125816","name":"Turn off spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.kantoor_sfeerspots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":340,"wires":[[]]},{"id":"d4feaef167dbe57c","type":"server-state-changed","z":"2038370dab125816","name":"Office minispots","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.kantoor_sfeerspots","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":380,"wires":[["a8600fc9b23708ea"]]},{"id":"62da451a1508f6b4","type":"api-call-service","z":"2038370dab125816","name":"Turn on switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.kantoor_schakelaar_middle","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":400,"wires":[[]]},{"id":"cf077db14269eb7f","type":"api-call-service","z":"2038370dab125816","name":"Turn off switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.kantoor_schakelaar_middle","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":460,"wires":[[]]},{"id":"c5f08d49a99b285b","type":"switch","z":"2038370dab125816","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":580,"wires":[["0acd3c0ff09ce555"],["4aeec03529e4771c"]]},{"id":"ac57245e93e14bf4","type":"server-state-changed","z":"2038370dab125816","name":"Office left button","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.kantoor_schakelaar_left","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":580,"wires":[["c5f08d49a99b285b"]]},{"id":"0acd3c0ff09ce555","type":"api-call-service","z":"2038370dab125816","name":"Turn on spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.kantoor_spots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":540,"wires":[[]]},{"id":"4aeec03529e4771c","type":"api-call-service","z":"2038370dab125816","name":"Turn off spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.kantoor_spots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":600,"wires":[[]]},{"id":"8cc2779b4768f2b8","type":"switch","z":"2038370dab125816","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":640,"wires":[["024cc5d6a7ef905d"],["7d0df8f38878b1c9"]]},{"id":"a5a7cfe166ddf95b","type":"server-state-changed","z":"2038370dab125816","name":"Office spots","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.kantoor_spots","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":640,"wires":[["8cc2779b4768f2b8"]]},{"id":"024cc5d6a7ef905d","type":"api-call-service","z":"2038370dab125816","name":"Turn on switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.kantoor_schakelaar_left","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":660,"wires":[[]]},{"id":"7d0df8f38878b1c9","type":"api-call-service","z":"2038370dab125816","name":"Turn off switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.kantoor_schakelaar_left","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":720,"wires":[[]]},{"id":"a8600fc9b23708ea","type":"switch","z":"2038370dab125816","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":380,"wires":[["62da451a1508f6b4"],["cf077db14269eb7f"]]},{"id":"54f1ca0d2616e1c3","type":"server-state-changed","z":"2038370dab125816","name":"Office right button","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.kantoor_schakelaar_right","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["bca61ed741e42682"]]},{"id":"2e2ae37c6e88058d","type":"api-call-service","z":"2038370dab125816","name":"Turn on spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.studio_spots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":40,"wires":[[]]},{"id":"e9cbeb5709030284","type":"api-call-service","z":"2038370dab125816","name":"Turn off spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.studio_spots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":100,"wires":[[]]},{"id":"bca61ed741e42682","type":"switch","z":"2038370dab125816","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["2e2ae37c6e88058d"],["e9cbeb5709030284"]]},{"id":"206618dbd952c63b","type":"server-state-changed","z":"2038370dab125816","name":"Studio spots","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.studio_spots","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":140,"wires":[["ea14e6d72dc569f2"]]},{"id":"520d4c85aca12c76","type":"api-call-service","z":"2038370dab125816","name":"Turn on switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.kantoor_schakelaar_right","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":160,"wires":[[]]},{"id":"b92efc0f2af3710a","type":"api-call-service","z":"2038370dab125816","name":"Turn off switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.kantoor_schakelaar_right","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":220,"wires":[[]]},{"id":"ea14e6d72dc569f2","type":"switch","z":"2038370dab125816","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":140,"wires":[["520d4c85aca12c76"],["b92efc0f2af3710a"]]},{"id":"bd52559c296b2421","type":"switch","z":"e94d93f501239f1a","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":580,"wires":[["bb51742dd9b2d8c9"],["d79dc54f66d51b74"]]},{"id":"cb6c1eb0156a3a87","type":"server-state-changed","z":"e94d93f501239f1a","name":"Anakins left button","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.anakins_switch_left","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":580,"wires":[["bd52559c296b2421"]]},{"id":"bb51742dd9b2d8c9","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn on spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.anakins_sfeerspots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":540,"wires":[[]]},{"id":"d79dc54f66d51b74","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn off spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.anakins_sfeerspots","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":600,"wires":[[]]},{"id":"23046f327d8514c8","type":"switch","z":"e94d93f501239f1a","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":640,"wires":[["8057f4c782d4738c"],["28e9758b370e4e04"]]},{"id":"5733be36773f6fc4","type":"server-state-changed","z":"e94d93f501239f1a","name":"Anakins sfeerspots","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.anakins_sfeerspots","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":640,"wires":[["23046f327d8514c8"]]},{"id":"8057f4c782d4738c","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn on switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.anakins_switch_left","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":660,"wires":[[]]},{"id":"28e9758b370e4e04","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn off switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.anakins_switch_left","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":720,"wires":[[]]},{"id":"e951c8ab222839fe","type":"server-state-changed","z":"e94d93f501239f1a","name":"Anakins right button","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.anakins_switch_right","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["92fdb1d896a1efdf"]]},{"id":"149bab2930163419","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn on spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.anakins_lamp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":40,"wires":[[]]},{"id":"a0387c4ab5f9172c","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn off spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.anakins_lamp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":100,"wires":[[]]},{"id":"92fdb1d896a1efdf","type":"switch","z":"e94d93f501239f1a","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["149bab2930163419"],["a0387c4ab5f9172c"]]},{"id":"ddaf149377d41485","type":"server-state-changed","z":"e94d93f501239f1a","name":"Anakins lamp","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.anakins_lamp","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":140,"wires":[["22d11d9206201ea6"]]},{"id":"f1d72d9debb72053","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn on switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.anakins_switch_right","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":160,"wires":[[]]},{"id":"ac41a6eca739db65","type":"api-call-service","z":"e94d93f501239f1a","name":"Turn off switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.anakins_switch_right","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":220,"wires":[[]]},{"id":"22d11d9206201ea6","type":"switch","z":"e94d93f501239f1a","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":140,"wires":[["f1d72d9debb72053"],["ac41a6eca739db65"]]},{"id":"494a19d911a6f9ca","type":"switch","z":"06c4602c30655683","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":360,"wires":[["32a9cf780aaf95a7"],["745d43eb91dbe75a"]]},{"id":"48e6c94b1a9041e5","type":"server-state-changed","z":"06c4602c30655683","name":"Babykamer left button","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.babykamer_lamp_schakelaar","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":360,"wires":[["494a19d911a6f9ca"]]},{"id":"32a9cf780aaf95a7","type":"api-call-service","z":"06c4602c30655683","name":"Turn on spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.babykamer_lamp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":320,"wires":[[]]},{"id":"745d43eb91dbe75a","type":"api-call-service","z":"06c4602c30655683","name":"Turn off spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.babykamer_lamp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":380,"wires":[[]]},{"id":"df1d25753227e9a2","type":"switch","z":"06c4602c30655683","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":420,"wires":[["9b58b21bd55e0a8d"],["93b7863e0b1be6a9"]]},{"id":"a85019026e1868c1","type":"server-state-changed","z":"06c4602c30655683","name":"Babykamer lamp","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.babykamer_lamp","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":420,"wires":[["df1d25753227e9a2"]]},{"id":"9b58b21bd55e0a8d","type":"api-call-service","z":"06c4602c30655683","name":"Turn on switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.babykamer_lamp_schakelaar","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":440,"wires":[[]]},{"id":"93b7863e0b1be6a9","type":"api-call-service","z":"06c4602c30655683","name":"Turn off switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.babykamer_lamp_schakelaar","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":500,"wires":[[]]},{"id":"a40977355cc3a7e1","type":"server-state-changed","z":"06c4602c30655683","name":"Babykamer right button","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.babykamer_vloerlampen_schakelaar","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":80,"wires":[["523acb731b4f9b25"]]},{"id":"2495a45b82ffeb55","type":"api-call-service","z":"06c4602c30655683","name":"Turn on spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.babykamer_vloerlamp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":40,"wires":[[]]},{"id":"f04fb9f9dc0a0845","type":"api-call-service","z":"06c4602c30655683","name":"Turn off spots","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.babykamer_vloerlamp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":100,"wires":[[]]},{"id":"523acb731b4f9b25","type":"switch","z":"06c4602c30655683","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":80,"wires":[["2495a45b82ffeb55"],["f04fb9f9dc0a0845"]]},{"id":"d63b532241734018","type":"server-state-changed","z":"06c4602c30655683","name":"Kinderkamer sfeerspots","server":"992b6644.4e50e8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.babykamer_vloerlamp","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":140,"wires":[["2fd73713bdd0d72a"]]},{"id":"c86b896b425d0583","type":"api-call-service","z":"06c4602c30655683","name":"Turn on switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.babykamer_vloerlampen_schakelaar","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":160,"wires":[[]]},{"id":"b068482a022f559f","type":"api-call-service","z":"06c4602c30655683","name":"Turn off switch","server":"992b6644.4e50e8","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.babykamer_vloerlampen_schakelaar","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":220,"wires":[[]]},{"id":"2fd73713bdd0d72a","type":"switch","z":"06c4602c30655683","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":140,"wires":[["c86b896b425d0583"],["b068482a022f559f"]]}]